
# VITE_API_URL = your backend url route into it that you set in server.js into it

# added in part-5
# VITE_SOCKET_SERVER_URL=http://localhost:3000 this is the backend url for interaction with sockets

# docker command to run the backend--- docker run -p 5000:5000 --env-file .env backend-prod