# BASE_URL
# PORT
# DATABASE_URL: used full connections string avoid srv
# HASH_SECRET

#-------FOR AUTHORIZATION and AUTHENTICATION------#
# JWT_ACCESS_TOKEN_SECRET
# JWT_REFRESH_TOKEN_SECRET


#-------- TWILIO------#

# SMS_SID
# SMS_AUTH_TOKEN
# SMS_FROM_NUMBER

#--------EMAIL AUTHENTICATION KEYS------#

# RESEND_API_KEY
# EMAIL_FROM=onboarding@resend.dev
# ARCJET_KEY